
.wrapper {
  display: grid;
  grid-gap: 10%;
  grid-column: 20% 20% 20% 20% 20%;
  grid-column: 20% 20% 20% 20% 20%;
}
.bloc1 {
  border: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 2%;
}
.bloc2 {
  border: 1px solid black; 
  grid-column: 2%;
  grid-row-start: 2;
  grid-row-end: 19;
}
.bloc3 {
  border: 1px solid black;
  grid-column:  2%;
  grid-row-start: 2;
  grid-row-end: 19;
}
.bloc4 {
  border: 1px solid black;
  grid-column: 2%;
  grid-row-start: 2;
  grid-row-end: 19;
}
.bloc5 {
  border: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 20;
}
